# Tabular data sanity checks and formatting for later use
The shared Excel file contains accounting data from a company operating on various marketplace, 
segements (small business, small+, mid-market, local).

# Splitting into different tables
The Excel file seems to be an extract from multiple database tables:
Transaction, Total Revenue, Cost of Services, Credit Card Fees, Gross Profit, Business Operation.
I will redo this split into multiple pandas dataframes.

In [11]:
import pandas as pd
from core.readers.xlsx_readers import fetch_transactions, fetch_service_costs, \
    fetch_creditcard_costs, fetch_profits, fetch_external_costs, fetch_net_income, fetch_revenues

# A hashmap will contain the split dataframes.
# Dataframes are transposed (as the data are time series).
# nan/missing values are set to 0 (as this data represent transactions and financial values).
dfs = {
"transactions" : fetch_transactions(),
"revenues" : fetch_revenues(),
"service_costs" : fetch_service_costs(),
"creditcard_costs" : fetch_creditcard_costs(),
"profits" : fetch_profits(),
"external_costs" : fetch_external_costs(),
"net_income" : fetch_net_income(),
}
for table_name, table in dfs.items():
    print(table_name)
    display(table.head())

transactions

,total_transactions,enterprise,mid_market,a1,marketplaces,small+,small,local,editions,other
2022-01-01,152987.508148,14204.968259,13920.868894,21307.452388,14062.918576,4261.490478,13778.819211,42614.904777,14347.017941,14489.067624
2022-02-01,160132.117379,14868.348875,14570.981897,22302.523312,14719.665386,4460.504662,14422.298408,44605.046624,15017.032363,15165.715852
2022-03-01,164218.516480,15247.773118,14942.817656,22871.659677,15095.295387,4574.331935,14790.339924,45743.319354,15400.250849,15552.728580
2022-04-01,168271.078904,15624.055609,15311.574496,23436.083413,15467.815052,4687.216683,15155.333940,46872.166826,15780.296165,15936.536721
2022-05-01,164393.114747,15263.984656,14958.704963,22895.976984,15111.344810,4579.195397,14806.065117,45791.953969,15416.624503,15569.264349

revenues

,total_revenue,enterprise,mid_market,a1,marketplaces,small+,small,local,editions,other
2022-01-01,28118.599084,27786.206444,180.480533,151.912106,0.0,0.0,0.0,0.0,0.0,0.0
2022-02-01,30985.974013,30549.673572,-29.771865,466.072306,0.0,0.0,0.0,0.0,0.0,0.0
2022-03-01,46638.517384,46329.133424,211.965009,97.418952,0.0,0.0,0.0,0.0,0.0,0.0
2022-04-01,89585.592673,88913.407447,672.185226,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2022-05-01,87238.211872,87650.448540,-412.236667,0.000000,0.0,0.0,0.0,0.0,0.0,0.0

service_costs

,total_cost_of_services,enterprise,mid_market,a1,marketplaces,small+,small,local,editions,other
2022-01-01,-21392.573405,-20830.964058,-561.609347,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2022-02-01,-11401.276005,-11397.054589,-4.221416,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2022-03-01,-26161.018896,-26134.760000,-26.258896,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2022-04-01,-33755.496382,-30023.103465,-3732.392917,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2022-05-01,-28320.314191,-28314.576476,-5.737715,0.0,0.0,0.0,0.0,0.0,0.0,0.0

creditcard_costs

,total_credit_card_fees,enterprise,mid_market,a1,marketplaces,small+,small,local,editions,other
2022-01-01,-441.168853,-171.917590,-269.251263,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2022-02-01,-799.029135,-594.021172,-205.007963,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2022-03-01,-1307.719110,-1030.553250,-277.165860,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2022-04-01,-1469.071907,-985.902940,-483.168967,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2022-05-01,-1720.539059,-1373.178281,-347.360778,0.0,0.0,0.0,0.0,0.0,0.0,0.0

profits

,total_gross_profit,enterprise,mid_market,a1,marketplaces,small+,small,local,editions,other
2022-01-01,6284.856826,6783.324796,-650.380077,151.912106,0.0,0.0,0.0,0.0,0.0,0.0
2022-02-01,18785.668873,18558.597812,-239.001244,466.072306,0.0,0.0,0.0,0.0,0.0,0.0
2022-03-01,19169.779379,19163.820174,-91.459747,97.418952,0.0,0.0,0.0,0.0,0.0,0.0
2022-04-01,54361.024383,57904.401042,-3543.376658,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2022-05-01,57197.358622,57962.693782,-765.335160,0.000000,0.0,0.0,0.0,0.0,0.0,0.0

external_costs

,business_operations,customer_service,marketing_expenses,staff_costs,other_opex,total_opex
2022-01-01,-1306.434758,-1066.690320,-235.746558,-31614.306358,-907.037106,-35130.215101
2022-02-01,-356.925054,-2078.609752,-160.485888,-36273.787650,-602.322527,-39472.130871
2022-03-01,-53.571787,-1972.433332,-129.836520,-42251.571330,-1287.141050,-45694.554019
2022-04-01,-393.545334,-3031.443486,-6959.907853,-41628.596715,-6531.382817,-58544.876206
2022-05-01,-369.124191,-13942.337917,-7711.758383,-42122.915967,-1920.188815,-66066.325274

net_income

                  ebitda
2022-01-01 -28845.358275
2022-02-01 -20686.461998
2022-03-01 -26524.774640
2022-04-01  -4183.851822
2022-05-01  -8868.966652

# Sanity checks
The following is a list of sanity checks to run prior to analysing the data


- "transactions"
    - All values must be positive.
    - "Total" columns must be equal to the sum of all other columns at all time, inc. rounding error
- "revenues"
    - "Total" columns must be equal to the sum of all other columns at all time, inc. rounding error

- "service_costs"
    - All values must be negative.
    - "Total" columns must be equal to the sum of all other columns at all time, inc. rounding error

- "creditcard_costs" 
    - All values must be negative.
    - "Total" columns must be equal to the sum of all other columns at all time, inc. rounding error

- "profits"
    - "Total" columns must be equal to the sum of all other columns at all time, inc. rounding error

- "external_costs" 
    - "Total" columns must be equal to the sum of all other columns at all time, inc. rounding error

- "net_income" 

Other rules:
total_gross_profit = total_revenue + total_cost_of_services + total_credit_card_fees
ebitda = total_opex + total_gross_profit

In [12]:
# 1. check positive/negative dataframes
print("Transactions are all positive", (dfs["transactions"] >= 0).all().all())
print("Services costs are negative", (dfs["service_costs"] <= 0).all().all())
print("credicard costs are negative", (dfs["creditcard_costs"] <= 0).all().all())

Transactions are all positive True
Services costs are negative True
credicard costs are negative True

In [13]:
# 2. check if "totals" columns are correct
rounding_error = 0.1

def total_is_correct(df: pd.DataFrame, total_col: str) -> bool:
    # Exclude the "Total" column from the sum calculation
    other_columns_sum = df.drop(columns=[total_col]).sum(axis=1)
    # Compare the calculated sum with the "Total" column
    is_total_correct = (df[total_col] - other_columns_sum <= rounding_error)
    return all(is_total_correct)

print("transactions:", total_is_correct(dfs["transactions"], "total_transactions"))
print("revenues:", total_is_correct(dfs["revenues"], "total_revenue"))
print("service_costs:", total_is_correct(dfs["service_costs"], "total_cost_of_services"))
print("creditcard_costs:", total_is_correct(dfs["creditcard_costs"], "total_credit_card_fees"))
print("profits:", total_is_correct(dfs["profits"], "total_gross_profit"))
print("external_costs:", total_is_correct(dfs["external_costs"], "total_opex"))

transactions: True
revenues: True
service_costs: True
creditcard_costs: True
profits: True
external_costs: True

In [14]:
# 3. Check total_gross_profit = total_revenue + total_cost_of_services + total_credit_card_fees
checked_total_gross_profit = (dfs["revenues"]["total_revenue"] 
                              + dfs["service_costs"]["total_cost_of_services"] 
                              + dfs["creditcard_costs"]["total_credit_card_fees"])
residues = checked_total_gross_profit - dfs["profits"]["total_gross_profit"]
is_total_correct = (all(residues <= rounding_error))
print("total profit: ", is_total_correct)

total profit:  True

In [15]:
# 4. check ebitda = total_opex + total_gross_profit
checked_ebitda = dfs["external_costs"]["total_opex"] + dfs["profits"]["total_gross_profit"]
residues = checked_ebitda - dfs["net_income"]["ebitda"]
is_total_correct = (all(residues <= rounding_error))
print("ebitda: ", is_total_correct)

ebitda:  True

**Conclusion:** 
- I see no real issue with the data.
- I will keep this split into multiple dataframes to simulate a database with multiple tables

**Notes:**
- Some revenues are negative. I will assume this to be correct, maybe accounting for the
fact that "cost of services" and "credit card fees" do not cover the entire cost centers of an 
activity. Those hidden costs might be bunched-up into the revenue.
- The number of transactions are not integers. I am going to assume this is not an issue and 
ignore this fact.